body {
  text-align: center;
  background-image: url(./images/drums-7056501_1280.jpg);
}

h1 {
  font-size: 5rem;
  color: #f3eaf0;
  font-family: Joti;
  text-shadow: 3px 0 #0e0c0d;
  background-color: rgb(35, 33, 33);
  opacity: 0.8;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
  background-color: rgb(35, 33, 33);
  opacity: 0.8;
}

.w {
  background-image: url(./images/tom1.png);
}

.a {
  background-image: url(./images/tom2.png);
}

.s {
  background-image: url(./images/tom3.png);
}

.d {
  background-image: url(./images/tom4.png);
}

.j {
  background-image: url(./images/crash.png);
}

.k {
  background-image: url(./images/kick.png);
}

.l {
  background-image: url(./images/snare.png);
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 5px solid rgb(35, 33, 33);
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 50%;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
